/*
   All credits http://webdesignerwall.com/tutorials/cross-browser-css-gradient 
*/
.gradient-background {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#f1f1f1'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1f1f1)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #f1f1f1); /* for firefox 3.6+ */
}